.formularioRegistro{
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 1.5%;
}

table {
  width: 100%;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.titulo1 {
  margin-top: 20px;
  padding: 25px;
  background-color: #004A8E;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
