<div class="formularioRegistro">
  <h2>Crear pedido</h2>
  <form [formGroup]="pedidoForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Area</label>
      <input type="text" formControlName="areaId" class="form-control">
    </div>
    <div class="form-group">
      <label>Prioridad</label>
      <input type="text" formControlName="prioridadId" class="form-control">
    </div>
    <div class="form-group">
      <label>Estado</label>
      <input type="text" formControlName="estadoId" class="form-control">
    </div>
    <div class="form-group">
      <label>Fecha del Pedido</label>
      <input type="date" formControlName="pedidoFecha" class="form-control">
    </div>
    <div class="form-group">
      <label>Fecha Límite</label>
      <input type="date" formControlName="pedidoFechaLimite" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
